# Игнорировать каталог node_modules 
/#source/**/*.*
# 06_bundlers/node_modules/**/*.*
/node_modules/*
/build/*
/dev/*
# Игнорирование логов 
logs 
*.log 

# Игнорирование каталога со сборкой проекта
**/**/*.bac

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*